*{
    /* background-color: aqua; */
    /* background-image: url(../assets/loggedin.webp); */
}
.login{
    margin-left: 40rem;
}
.input{
    margin-left: 40rem;
}
.submit{
    margin-left: 43.5rem;
}
.line{
    margin-left: 40rem;
}